---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/header.astro";
---
<Layout>
    <Header />
    <h1 class="text-3xl pt-10 font-montserrat">Nos modèles de Lunettes</h1>
</Layout>
