---
import FiltreLunettes from "../../components/filtre.astro";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/header.astro";
import Card from "../../components/card.astro";
import pb from "../../../utils/pb.ts";

const url = new URL(Astro.url);
const typeFiltre = url.searchParams.get("filtre") ?? "toutes";

let records = [];

if (typeFiltre === "toutes") {
    const modelesBase = await pb.collection("modeles").getFullList();
    const modelesIA = await pb.collection("ModeleIa").getFullList();
    records = [...modelesBase, ...modelesIA];
} else if (typeFiltre === "base") {
    records = await pb.collection("modeles").getFullList();
} else if (typeFiltre === "ia") {
    records = await pb.collection("ModeleIa").getFullList();
}
---

<Layout>
    <Header />
    <h1
        class="text-2xl sm:text-3xl font-bold px-4 sm:px-8 py-4 sm:py-8 pb-2 sm:pb-4"
    >
        Nos Modèles de Lunettes
    </h1>
    <div class="pb-8 sm:pb-16">
        <FiltreLunettes actif={typeFiltre} />
    </div>
    <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 lg:gap-8 px-4 sm:px-8 pb-8"
    >
        {
            records.map((record) => (
                <Card
                    id={record.id}
                    nom={record.nom}
                    prix={record.prix || 0}
                    ancien_prix={record.ancien_prix || 0}
                    fabrication_fr={record.fabrication_fr || "non"}
                    code_svg={record.code_svg}
                />
            ))
        }
    </div>
</Layout>
