---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Button from "../components/bouton.astro";
---

<Layout>
	<Header />
	<main class="flex items-center py-16">
		<div class="pt-8 z-2 flex flex-col gap-6 w-8/25">
			<img src="/src/assets/images/logo.svg" alt="" />
			<p class="text-lg text-gray-600 mb-6 font-montserrat-alt">
				Créez vos lunettes sur mesure, parfaitement adaptées à votre
				style unique
			</p>
			<a href="/galerie">
				<Button
					class="text-base-200"
					text="Commencer à Personnaliser"
				/></a
			>
		</div>
		<div
			class="bg-[url('src/assets/images/imagefond_homepage.avif')] bg-cover bg-center min-h-screen absolute top-0 left-0 w-full h-full"
		>
		</div>
	</main>
</Layout>
