---

---

<header>
    <div class="z-1 navbar bg-transparent flex items-center py-8 gap-2">
        <img
            src="/src/assets/images/logo_header.svg"
            alt="Logo"
            class="items-center h-12 mb-2"
        />

        <div class="w-full flex justify-between items-center mt-2">
            <div></div>
            <ul class="flex gap-6 px-1 text-base">
                <li><a href="/generator">Générateur</a></li>
                <li><a href="/galerie">Galerie</a></li>
                <li><a href="/login">Connexion</a></li>
                <li>
                    <a href="/"
                        ><img
                            src="src/assets/images/cart.svg"
                            alt="Panier"
                            class="h-7 w-7"
                        /></a
                    >
                </li>
            </ul>
        </div>
    </div>
</header>
